<li>
  <% if (locals.details) { %>
  <div>
    <div class="card">
      <div>
        <div class="card__header flex">
          <h2 class="card__title"><%= message.user %></h2>
        </div>
        <p class="text--dark">Posted on <%= message.added %></p>
      </div>
      <hr class="divider" />
      <p><%= message.text %></p>
    </div>
  </div>
  <% } else { %>
  <a href="<%= message.id %>">
    <div class="card">
      <div class="card__header flex">
        <h2 class="card__title"><%= message.user %></h2>
        <p class="card__timestamp text--dark">Posted on <%= message.added %></p>
      </div>
      <p class="text--dark truncate"><%= message.text %></p>
    </div>
  </a>
  <% } %>
</li>
